<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- ******************************************** -->
	<!-- ******************************************** -->
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="OrigenDatosSQLServerDemo" connectionString="Data Source=DESKTOP-DECUMCC\SQL_EXPRESS; Initial Catalog=JuegoParcial; Integrated Security = False; User Id = sa; Password = ean2020; MultipleActiveResultSets = True"
   providerName="System.Data.SqlClient" />
  <add name="ParcialJuego.Properties.Settings.JuegoParcialConnectionString"
   connectionString="Data Source=DESKTOP-DECUMCC\SQL_EXPRESS;Initial Catalog=JuegoParcial;Persist Security Info=True;User ID=sa;Password=ean2020"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<!-- ******************************************** -->
	<!-- ******************************************** -->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<!-- ******************************************** -->
	<!-- ******************************************** -->
</configuration>