<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- ******************************************** -->
	<!-- ******************************************** -->
	<connectionStrings>
		<!-- ********************************************************* -->
		<!-- ********************************************************* -->
		<!-- ********************************************************* -->
		<!-- Cadena de conexión al origen de datos MS SQL SERVER -->
		<add name="OrigenDatosSQLServerDemo"
			 connectionString="Data Source=DESKTOP-DECUMCC\SQL_EXPRESS; Initial Catalog=MonedasParcial; Integrated Security = False; User Id = sa; Password = ean2020; MultipleActiveResultSets = True"
			 providerName="System.Data.SqlClient" />
		<!-- ********************************************************* -->
		<!-- ********************************************************* -->
		<!-- ********************************************************* -->
	</connectionStrings>
	<!-- ******************************************** -->
	<!-- ******************************************** -->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<!-- ******************************************** -->
	<!-- ******************************************** -->
</configuration>