USE [master]
GO
/****** Object:  Database [JuegoParcial]    Script Date: 25/11/2020 7:48:45 p. m. ******/
CREATE DATABASE [JuegoParcial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JuegoParcial', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\JuegoParcial.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JuegoParcial_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\JuegoParcial_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JuegoParcial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JuegoParcial]
GO
/****** Object:  Table [dbo].[LetraPista]    Script Date: 25/11/2020 7:48:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LetraPista](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[letra] [char](10) NOT NULL,
	[codigo] [int] NOT NULL,
 CONSTRAINT [PK_TablaLetraPista] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PalabraCifrar]    Script Date: 25/11/2020 7:48:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PalabraCifrar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ronda] [int] NOT NULL,
	[palabra] [varchar](50) NOT NULL,
	[categoria] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TablaPalabrasCifrar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LetraPista] ON 

INSERT [dbo].[LetraPista] ([id], [letra], [codigo]) VALUES (1, N'a         ', 1)
INSERT [dbo].[LetraPista] ([id], [letra], [codigo]) VALUES (2, N'b         ', 2)
INSERT [dbo].[LetraPista] ([id], [letra], [codigo]) VALUES (3, N'c         ', 3)
SET IDENTITY_INSERT [dbo].[LetraPista] OFF
GO
SET IDENTITY_INSERT [dbo].[PalabraCifrar] ON 

INSERT [dbo].[PalabraCifrar] ([id], [ronda], [palabra], [categoria]) VALUES (432, 1, N'tlaltecuhtli', N'Nombres de dioses de religiones politeistas')
INSERT [dbo].[PalabraCifrar] ([id], [ronda], [palabra], [categoria]) VALUES (433, 1, N'mictlantecuhtli', N'Nombres de dioses de religiones politeistas')
INSERT [dbo].[PalabraCifrar] ([id], [ronda], [palabra], [categoria]) VALUES (434, 1, N'mixcoatl', N'Nombres de dioses de religiones politeistas')
GO
SET IDENTITY_INSERT [dbo].[PalabraCifrar] OFF
GO
USE [master]
GO
